<div class="row">
  <!-- Bell -->
   <div ngbDropdown class="col-2 position-relative" (click)="makeAllMsgAsReaded()">
    <div class="notificationIcon" data-toggle="dropdown" aria-haspopup="true" ngbDropdownToggle>
      <i class="fa fa-bell-o bell mt-1 cpointer" ></i>
      <span style="top:5px !important;font-size:10px;" 
        class="position-absolute start-100 translate-middle  badge rounded-pill bg-danger"
        *ngIf="(notificationListener.unreadNotificationCount$ | async) as count">
        {{count}}
      </span>
    </div>
    <!-- Scroll Pagination -->
    <div ngbDropdownMenu class="list"
    class="search-results"
    infiniteScroll
    (scrolled)="onScroll()"
    [scrollWindow]="false"
    >
      <!-- Notifications List -->
      <div class="notifications-list" *ngIf="(notificationListener.NotificationList$ | async) as List">
        <h5 class="text-center text-danger" *ngIf="List.totalCount === 0">{{"::noNotifications" | abpLocalization}}</h5>    
        <div ngbDropdownItem class="notification" *ngFor="let item of List.items">
          <ng-container>
            <img src="assets/images/logo/dawaa24-1627391353.svg" alt="Channel Image">
            <div class="notification-content mt-2 ms-1">
                <h6 class="txt">{{"::" + item.content | abpLocalization}}</h6>
                <p>{{item.creationTime | date: 'MM/dd/yyyy hh:mm:ss a' }}</p>
            </div>
          </ng-container>
            </div>
      </div>
    </div>
   </div>
  <!-- Chose language -->
  <div class="col-8">
    <div ngbDropdown  class="btn-group ms-auto dropdown w-100">
      <button class="dropdown-toggle btn btn-sm languageBtnBg"
      data-toggle="dropdown" aria-haspopup="true" ngbDropdownToggle>
      <i class="bi bi-translate me-1"></i>{{labelOfSelectedLang}}
    </button>
    <div ngbDropdownMenu>
      <button ngbDropdownItem *ngFor="let lang of availableLangs" (click)="selectLang(lang.value)">
        {{lang.name}}
      </button>
    </div>
  </div>
  </div>
</div>
<!-- Notification List -->
